body{
    overflow: hidden;
}

.party{
    --party_info: var(--clr-white);
    --party_space: var(--clr-black);
    --party_border: var(--clr-black);
    --party_text: var(--clr-void);
    --info_sub: var(--clr-black);

    --rem: 1rem;

    font-size: var(--rem);

    --spacing: calc(1*var(--rem));
    --rad: calc(0.5*var(--rem));
    --width: calc(6.1*var(--rem));

    display: grid;
    grid-template-columns: min-content repeat(7, max-content);
    grid-template-rows: repeat(6, 1fr);
    row-gap: var(--spacing);
    margin: var(--spacing) 0;
    overflow: auto;
    place-content: center;
}

.pokemon{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: subgrid;
    background-color: var(--party_space);
}

/*INFO CARD*/
.info{
    display: grid;
    position: relative;
    place-items: center stretch;
    margin-right: 0.2em;
    padding: 0.5em;
    background-color: var(--party_info);
    overflow: hidden;
}

.info--bg{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--c1) 40%, var(--c2) 60%);
    opacity: 0.6;
}

.info--cont{
    --gap: calc(0.25*var(--rem));
    display: grid;
    grid-template-columns: repeat(2, width);
    grid-template-rows: repeat(4, max-content);
    gap: 0.25em var(--gap);
    z-index: 1;
}

.info--cont > *{
    max-width: var(--width);
    border: 0.1em solid var(--party_border);
    border-radius: var(--rad);
    padding: 0.1em 0.2em;
}

.info__name, .info__level{
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bolder;
}

.info__name{
    max-width: calc(2*var(--width) + var(--gap));
    font-size: 1.5em;
    grid-column: span 2;
}

.info__type{
    padding: 0.25em 0em;
    background-color: var(--color);
    text-align: center;
    color: var(--party_text);
}

.info__atk{
    grid-row: 4;
    background-color: var(--physical);
}

.info__spa{
    grid-row: 4;
    background-color: var(--special);
}

/*MOVES*/
.moves{
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(4, 1fr);
    grid-column: 2 / -1;
    gap: 0.25em 0.1em;
}

.move{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: subgrid;
    /* background-color: var(--color); */
}

.move > *{
    display: grid;
    padding: 0 0.25em;
    place-items: center;
    background-color: var(--color);
    color: var(--party_text);
}

.move__name, .move__type, .move__pow, .move__cat{
    place-items: center stretch;
    border-radius: var(--rad);
}

.move__pow{
    width: 3em;
    text-align: center;
}

.move__calc{
    --opacity: 0.3;
    display: grid;
    margin-left: 0.25em;
    grid-column: span 3;
    grid-template-columns: subgrid;
    place-items: stretch;
    padding: 0;
    gap: 0;
}

.move__calc > *{
    display: grid;
    padding: 0 0.4em;
    place-items: center;
}

.move__dmg{
    font-weight: bolder;
    border-right: 0.1em solid var(--party_border);
}

.move__hit{
    background-color: rgba(255, 255, 255, var(--opacity));
}

.move__miss{
    background-color: rgba(0, 0, 0, var(--opacity));
}

@supports not (grid-template-columns: subgrid){
    .home{
        grid-template-columns: max-content;
    }

    .pokemon{
        grid-template-columns: min-content max-content max-content;
    }

    .moves{
        grid-template-columns: max-content var(--spacing) 1fr;
        grid-template-rows: 1fr;
    }

    .moves--data, .moves--type{
        grid-row: 1;
        grid-template-rows: repeat(4, 1fr);
    }

    .moves--data{
        grid-column: 1;
        grid-template-columns: 1fr;
    }

    .moves--type{
        grid-column: 3;
        grid-template-columns: repeat(18, var(--icon));
    }

    .move{
        gap: 0.1em;
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    }
}